{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block content %}
        <div class="container">
            <div class="row mt-md-4 mt-lg-4">
                <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-body card-my">
                        <h1 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ article.title }}</h1>
                        <div class="row col-12"  style="font-size: 1.2rem;">
                            <p class="text-gray">
                                {{ article.total_views }} 阅读 ·
                                {{ article.updated }} 更新  ·
                                作者：{{ article.author }}
                            </p>
                            {% if user.is_authenticated %}
                                <div class="ml-3">
                                <button class="btn btn-outline-primary">
                                    <a class="no-underline" href="{% url 'article:update' article.id %}">
                                        修改文章
                                    </a>
                                </button>

                                </div>
                                <div class="ml-3">
                                    <button class="btn btn-outline-primary">
                                        <a class="no-underline" href="#" onclick="confirm_delete_article()">
                                            删除文章
                                        </a>
                                    </button>
                                </div>
                                <form
                                      hidden="hidden"
                                      action="{% url 'article:delete' article.id %}"
                                      method="post"
                                      >
                                    {% csrf_token %}
                                    <button id="delete_article" type="submit">发送</button>
                                </form>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="col-12">
                            {{ article.body |safe}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <script>
        function confirm_delete_article() {
            layer.open({
                title: "确认删除",
                content:"您真的确认要删除该文章吗？o(╥﹏╥)o",
                yes:function (index, layero) {
                    $("#delete_article").click();
                    layer.close(index);
                }

            })
        }
    </script>
{% endblock %}

