{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block content %}
        <div class="container">
            <div class="row mt-md-4 mt-lg-4">
                <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-body card-my">
                        <h1 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ article.title }}</h1>
                        <div class="row col-12"  style="font-size: 1.2rem;">
                            <p class="text-gray">
                                {{ article.total_views }} 阅读 ·
                                {{ article.updated }} 更新  ·
                                作者：{{ article.author }}

                            </p>
                            {% if user.is_authenticated %}
                                <div class="ml-5">
                                    <a class="text-primary" href="#">
                                        修改文章
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="col-12">
                            {{ article.body |safe}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}