

.no-underline {
    vertical-align: inherit;
}

.no-underline:hover {
    text-decoration: none;
}

.card-my{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-gray{
    color:gray;!important;
}