<footer class="bg-dark fixed-bottom" id="copyright">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;clannadhh 2020</p>
        <p  class="m-0 text-center text-white">
            粤ICP备18022394号-2
        </p>
    </div>
</footer>

<script>
    $(function(){
      if($(window).height() >= $(document).height()){
        $("#copyright").addClass("fixed-bottom");
      }
      else{
        $("#copyright").removeClass("fixed-bottom");
      }
    })
</script>