<!-- 
    Navbars 内置了对少数子组件的支持。根据需要选择：

    .navbar-brand 为您的公司，产品或项目名称。
    
    .navbar-nav 用于全高和轻量级导航（包括对下拉菜单的支持）。
    
    .navbar-toggler 用于我们的折叠插件和其他导航切换行为。
    
    .form-inline 用于任何形式控制和操作。
    
    .navbar-text 用于添加垂直居中的文本字符串。
    
    .collapse.navbar-collapse 通过父断点来分组和隐藏导航栏内容。

-->

<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand te" href="#" style="font-size: 1.5rem;">
            CLANNADHH
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link text-white">
                        留言
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">登录</a>
                </li>
            </ul>
        </div>
</nav>
